<div class="header">
    <h1>Pawn's Journey</h1>
    
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-1 flex-col md:flex-row items-center">
            <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
                <a href="#home" class="mr-5 hover:text-gray-900 font-medium">Home</a>
                <a href="#courses" class="mr-5 hover:text-gray-900 font-medium">Courses</a>
                <a href="#about" class="mr-5 hover:text-gray-900 font-medium">About</a>
                <a href="#contact" class="mr-5 hover:text-gray-900 font-medium">Contact</a>
            </nav>
        </div>
    </header>
</div>
